.css-19p6imb > div:nth-child(1) > div:nth-child(1) > div:nth-child(2),
.MuiInputBase-adornedStart {
  max-height: 40px;
}
div.MuiButtonBase-root:not(:first-child) {
    display: none;
}

input.MuiInputBase-input:not(:first-child) {
    display: none;
}

.btn-one-filters {
	color: white;
	transition: all 0.3s;
}
.btn-one-filters span {
	transition: all 0.3s;
}
.btn-one-filters::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: white;
	border-bottom-color: white;
	transform: scale(0.1, 1);
}
.btn-one-filters:hover span {
	letter-spacing: 2px;
}
.btn-one-filters:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one-filters::after {
	content: '';
	position: absolute;
  border-radius: 5px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: all 0.3s;
	background-color: rgb(67, 109, 248);
}
.btn-one-filters:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

@media screen and (max-width: 611px) {
  div.MuiInputBase-inputSizeSmall {
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 460px) {
  div.MuiInputBase-inputSizeSmall {
    text-overflow: ellipsis;
  }
}