#price-range {
  color: rgb(100, 100, 100);
}

.btn-one-sideMenu {
	color: rgb(0, 0, 0);
	transition: all 0.3s;
	position: relative;
}
.btn-one-sideMenu span {
	transition: all 0.3s;
}
.btn-one-sideMenu::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: black;
	border-bottom-color: black;
	transform: scale(0.1, 1);
}
.btn-one-sideMenu:hover span {
	letter-spacing: 2px;
}
.btn-one-sideMenu:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one-sideMenu::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(105, 105, 105, 0.253);
}
.btn-one-sideMenu:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}